$fontSizeforlist: 1.2rem;
$crismon: "Crimson Text", serif;
$buttonColor: #d3a588;
$secondColor: #2221208f;
$lightYellow: #f7de86;
$lighterColor: #f5ede0;
$whiteFont: rgb(255, 251, 247);
$blue: #659dbd;

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $whiteFont;
}

.button {
  font-family: $crismon;
  font-size: $fontSizeforlist;
  text-decoration: none;
  background-color: $buttonColor;
  color: $lighterColor;
  border: none;
  padding: 0.5em 1em;
  border-radius: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 3em 45%;
}

.button:hover {
  background-color: $lightYellow;
  color: $secondColor;
}

.button:focus {
  outline: 0;
}

#travelEndDate,
#travelStartDate,
#destination {
  color: $secondColor;
  width: 50%;
  margin-bottom: 1em;
}

@media (min-width: 460px) {
  form {
    font-size: 1.5rem;
  }
}
