$fontSizeforlist: 1.2rem;
$crismon: "Crimson Text", serif;
$buttonColor: #d3a588;
$lighterColor: #f5ede0;
$secondColor: #afabab8f;
$min-width: 200px;

form {
  border-radius: 3px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: $min-width;
}

.button {
  margin-top: 1.5em;
  font-family: $crismon;
  font-size: $fontSizeforlist;
  text-decoration: none;
  background-color: $buttonColor;
  color: $lighterColor;
  border: none;
  padding: 0.5em 1em;
  border-radius: 1%;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: $secondColor;
}

.button:focus {
  outline: 0;
}

/*input text*/
#text {
  width: 80%;
  min-width: $min-width;
}
