<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <main>
      <header></header>
      <sectoion>
        <h1>An awesome vacation starts from here</h1>
        <img />
      </sectoion>
      <sectoion>
        <form>
          <input
            required
            id="destination"
            placeholder="Enter your destination"
            class="destination"
            type="text"
            name="destination"
            value=""
          />
          <input
            class="button"
            type="submit"
            name=""
            value="submit"
            onclick="return handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </sectoion>
    </main>
  </body>
</html>
