<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,300&display=swap"
      rel="stylesheet"
    />
    <title>Travel App</title>
  </head>
  <body>
    <div class="flex-wrapper">
      <main>
        <header></header>
        <sectoion>
          <h1 class="body-title">An awesome vacation starts from here</h1>
          <img />
        </sectoion>
        <sectoion>
          <form onsubmit="return Client.handleSubmit(event)">
            <div class="form-flex-item-wrapper">
            <label id="label-destination" for="start">Destination:</label>
            <input
              required
              id="destination"
              placeholder="Enter a city name"
              class="destination"
              type="text"
              name="destination"
              value=""
            />
            </div>
            <div class="form-flex-item-wrapper">
            <label for="start">Start date:</label>
            <input
              required
              id="travelStartDate"
              placeholder="2021/mm/dd"
              class="duration"
              type="date"
              name="tripStart"
              min="2021-01-01"
              max="2022-12-31"
              value=""
            />
            </div>
            <div class="form-flex-item-wrapper">
            <label for="start">End date:</label>
            <input
              required
              id="travelEndDate"
              placeholder="2021/mm/dd"
              class="duration"
              type="date"
              name="tripEnd"
              min="2021-01-01"
              max="2022-12-31"
              value=""
            />
          </form>
        </div>
          <button
            class="button"
            type="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          >
            Submit
          </button>
        </sectoion>

        <section>
          <div id="result"></div>
        </section>
      </main>
      <footer>
        <div class="footer-flex">
          <h5>Mady by Yuling in 2021</h5>

          <a href="www.linkedin.com/in/yuling-lin" target="_blank" class="link">
            <img
              class="footer-img"
              src="/img/linkedin.png"
              alt="linkedin icon"
            />
          </a>
        </div>
      </footer>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
